@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 23, 17, 28;
}

/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
  scroll-behavior: smooth;
}

html {
  max-width: 1700px;
  margin: auto;
  background-color: "#00000";
}
body {
  font-family: "EB Garamond", serif;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.categorySection {
  background: linear-gradient(
      180deg,
      color(display-p3 0.8877 0.7477 0.3625) 0%,
      color(display-p3 0.4499 0.3495 0.0731) 81.54%
    ),
    color(display-p3 0.2627 0.3451 0.2431);
}

.categorySection .innerCategorySection {
  background-image: url("../assets/categoryBackground.png");
  background-size: cover;
}

/* .categoryCard::before {
  z-index: -10px;
  height: 100%;
  width: inherit;
  content: " ";
  bottom: -10px;
  background-color: black;
  border-radius: 24px;
  position: absolute;
  right: -10px;
  border: 1px solid #fbdc97;
} */

.playButton {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  /* fill: rgba(25, 25, 25, 0.70); */
  backdrop-filter: blur(22px);
  background-image: url("/playPauseBackground.svg");
  background-size: cover;
  background-color: #fbf0d1;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0 0 0 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
